html,
body{
	font-size: 100%;
}
body{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, h2, h3{
	font-weight: 100;
}
h1{
	font-size: 4em;
	margin:0;
	padding:0;
	color:#000;
}
h2{
	font-size: 3.125em;
}
h5{
	font-size: 1em;
}
strong{
	color: #0055a5;
}
img{
	max-width: 100%;
}


.form-control{
	border-radius: 0;
	border-color: #333;
}


.btn{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: 200;
	font-size: 1.5625em;
	white-space: inherit;
}
.btn-primary{
	background-color: #221f73;
	-webkit-box-shadow: inset 0 -5px rgba(255,255,255,.14);
	-moz-box-shadow: inset 0 -5px rgba(255,255,255,.14);
	box-shadow: inset 0 -5px rgba(255,255,255,.14);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary{
	background-color: #29258b;
	-webkit-box-shadow: inset 0 -5px rgba(255,255,255,.14);
	-moz-box-shadow: inset 0 -5px rgba(255,255,255,.14);
	box-shadow: inset 0 -5px rgba(255,255,255,.14);
}
.btn-secondary{
	background-color: #0075e4;
	-webkit-box-shadow: inset 0 -5px rgba(255,255,255,.14);
	-moz-box-shadow: inset 0 -5px rgba(255,255,255,.14);
	box-shadow: inset 0 -5px rgba(255,255,255,.14);
	color: #fcfcfc;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open>.dropdown-toggle.btn-secondary{
	background-color: #29258b;
	-webkit-box-shadow: inset 0 -5px rgba(255,255,255,.14);
	-moz-box-shadow: inset 0 -5px rgba(255,255,255,.14);
	box-shadow: inset 0 -5px rgba(255,255,255,.14);
	color: #fff;
}

.btn-lg,
.btn-group-lg>.btn{
	padding: 20px 16px;
}


#header{
	background-color: #221f73;
}
#header .logo{
	padding: 10px 0;
}


.jumbotron{
	background:none;
	padding-top: 80px;
}
.jumbotron h2{
	font-size: 1.375em;
	line-height: 1.4;
	color: #333;
	margin-bottom: 40px;
}


.blue-section{
	background-color: #0055a5;
	-webkit-box-shadow: inset 0 2px 7px rgba(20,20,20,.75);
	-moz-box-shadow: inset 0 2px 7px rgba(20,20,20,.75);
	box-shadow: inset 0 2px 7px rgba(20,20,20,.75);
	color: #fff;
	padding: 20px 0;
	margin-bottom: 100px;
}


.module{}
.mod-hd.bordered{
	border-bottom: 1px solid #cecece;
	padding:10px 0;
	margin-bottom: 35px;
	font-size: 1.875em;
	font-weight: 200;
	color:#000;
	position: relative;
}
.mod-hd.bordered:after, .mod-hd.bordered:before {
	top: 100%;
	left:71px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.mod-hd.bordered:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 20px;
	margin-left: -20px;
}
.mod-hd.bordered:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #cecece;
	border-width: 21px;
	margin-left: -21px;
}
.mod-hd.bordered.arrow-centered:after,
.mod-hd.bordered.arrow-centered:before{
	left: 50%;	
}

.mod-lmtrinfo .media-object{
	position: relative;
	bottom: 0;
}
.mod-bd{
	color: #333;
}

.mod-subscribe{}
.mod-subscribe .mod-hd{
	font-size:2.125em;
}
.mod-subscribe .btn-lg{
	padding: 10px 16px;
	font-size: 1.125em; /* 18 / 16 */
}
.mod-subscribe .mod-bd{
	padding: 65px 0;
}
.mod-subscribe .form-control{
	width: 400px;
}

.mod-about{
	
	padding-bottom: 120px;
}

.mod-about p{
	margin-bottom: 20px;
}
.mod-about h5{
	margin-bottom: 20px;
}
.mod-about h5 a{
	color: #221f73;
}

/**MEDIA**/
.media-subscribe-sample{
	width: 630px;
	margin: 30px auto -56px auto;
}
.media-subscribe-sample .media-heading{
	font-size: 1.11em; /* 20/18 */
	font-weight: bold;
	margin-bottom: 30px;
}
.media-subscribe-sample .media-body{
	font-size: 1.125em; /*18px*/
	padding-top: 40px;
}
.media-subscribe-sample ul{
	list-style-type: none;
	margin: 0 0 30px 0;
	padding:0;
}
.media-subscribe-sample ul li{
	font-weight: bold;
}
.media-subscribe-sample a{
	color: #fff;
}
.media-subscribe-sample .btn{
	font-size: 1.389em;
	padding: 18px 16px;
}
.media-subscribe-sample > .pull-left{
	margin-right: 54px;
}

#footer .content{
	border-top:1px solid #cecece;
	padding-top:10px;
	padding-bottom:20px;
	color: #333;
}
#footer a{
	color: #333;
}
.footer-brad{
	position: absolute;
	bottom: -96px;
}

/* ui to top */
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:0px;
	overflow:hidden;
	border:none;
	width: 103px;
	height: 90px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #221f73;
	-webkit-box-shadow: 0 2px 3px rgba(20,20,20,.75);
	-moz-box-shadow: 0 2px 3px rgba(20,20,20,.75);
	box-shadow: 0 2px 3px rgba(20,20,20,.75);
	font-size: 1.5em;
	line-height: 29px;
	color: #fff;
	padding-left: 20px;
	padding-top: 14px;
	
}

#toTopHover {
	display:none;
}

#toTop:active, #toTop:focus {
	outline:none;
}

/** formstack css override **/
.fsEmbed .fsForm{
	display: block !important;
	border:none !important;
	text-align: center;
}
.fsBody .fsRowBody{
	padding: 0 !important
}
.fsForm .fsLabel{
	position: absolute;
	border:none;
	clip:rect(0px, 0px, 0px, 0px);
	height: 1px;
	margin:-1px;
	overflow: hidden;
	padding:0;position: absolute;
	width: 1px;
}
.fsFieldFocused{
	background-color: transparent !important;
}
.fsFieldRow input[type="email"],
.fsFieldRow input[type="number"],
.fsFieldRow input[type="tel"],
.fsFieldRow input[type="text"],
.fsForm textarea{
	display: inline-block;
	width: 400px;
	vertical-align: middle;
	border:1px solid #333 !important;
	font-size: 18px !important;
	height: 46px;
	line-height: 1.33;
	padding:10px 16px !important;
	background: #fff !important;
	color: #555;
	transition:border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	box-shadow: none;
	font-family: "Open Sans", sans-serif;
	font-weight: normal !important;
}
.fsForm input.fsField[type="email"]:focus,
.fsForm input.fsField[type="file"]:focus,
.fsForm input.fsField[type="number"]:focus,
.fsForm input.fsField[type="tel"]:focus,
.fsForm input.fsField[type="text"]:focus,
.fsForm textarea.fsField:focus{
	border-color: #333 !important;
}
.fsPage{
	display: inline-block;
	vertical-align: bottom;
}
.fsForm .fsSubmit{
	clear:none !important;
	margin:0 !important;
	padding:0 !important;
	display: inline-block;
	background: none !important;
}
.fsSubmit input.fsSubmitButton{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: 200;
	font-size: 1.5625em;
	padding: 10px 16px !important;
	white-space: inherit;
	border:none !important;
}
.fsSubmit input.fsSubmitButton{
	background-color: #221f73;
	color: #fff !important;
	font-family: "Open Sans", sans-serif;
	-webkit-box-shadow: inset 0 -5px rgba(255,255,255,.14);
	-moz-box-shadow: inset 0 -5px rgba(255,255,255,.14);
	box-shadow: inset 0 -5px rgba(255,255,255,.14);
}
.fsSubmit input.fsSubmitButton:hover,
.fsSubmit input.fsSubmitButton:focus,
.fsSubmit input.fsSubmitButton:active,
.fsSubmit input.fsSubmitButton.active{
	background-color: #29258b;
	-webkit-box-shadow: inset 0 -5px rgba(255,255,255,.14);
	-moz-box-shadow: inset 0 -5px rgba(255,255,255,.14);
	box-shadow: inset 0 -5px rgba(255,255,255,.14);
}
.clear{
	display: none !important;
}
::-webkit-input-placeholder {
   font-weight: normal;
   font-family: "Open Sans", sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   font-weight: normal;
   font-family: "Open Sans", sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-weight: normal; 
   font-family: "Open Sans", sans-serif;
}

:-ms-input-placeholder {  
   font-weight: normal;
   font-family: "Open Sans", sans-serif;
}


/* Small devices (tablets, mobile) */
@media (max-width: 991px){
	.mod-lmtrinfo .media > .pull-left{
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 20px;
		float:none !important;
		display: block;
		text-align: center;
	}
	.mod-lmtrinfo .media-object{
		display: inline-block;
		
	}
	.media-subscribe-sample{
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	.media-subscribe-sample ul li{
		margin: 15px 0;
	}
	.mod-subscribe .form-control{
		width: 100%;
	}
	.mod-subscribe form{
		text-align: left !important;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.mod-lmtrinfo .media > .pull-left{
		margin-right: 30px;
		margin-left: 37px;
	}
}